@font-face {
  font-family: 'roboto-mt';
  font-display: swap;
  src: local('roboto-mt'), url('~@root/shared/fonts/roboto_mt.ttf') format('truetype'),
    url('~@root/shared/fonts/roboto_mt.woff2') format('woff2');
}
@font-face {
  font-family: 'robotoNusx';
  font-display: swap;
  src: local('robotoNusx'), url('~@root/shared/fonts/roboto_nus.woff2') format('woff2');
}
@font-face {
  font-family: 'sofia';
  font-display: swap;
  src: local('sofia'), url('~@root/shared/fonts/sofiapro-light.otf') format('otf');
}
@font-face {
  font-family: 'sofiaBold';
  font-display: swap;
  src: local('sofiaBold'), url('~@root/shared/fonts/SofiaProBold.woff') format('woff');
}

input:focus::placeholder {
  color: transparent;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  outline: none;
}

.tox-toolbar__primary{

  position: absolute !important;
  width: 100% !important;
  bottom: 0 !important;
}
.tox-edit-area__iframe{
  background: #F8F8F8 !important;
}
.tox-editor-header{
  background: #F8F8F8 !important;
}
.sc__characters-count{  z-index: 22;
position: absolute;
right: 0;
margin-right: 20px;
margin-top: -29px;
}
#divCorrPane{
  display: flex;
}
#divWord{
  font-size: 14px;
line-height: 20px;
text-decoration: line-through;
font-weight: 300;
color: #000000;
}
.wrong-word{
  display: flex;
  svg{
    margin-left: 20px;
  }
}
.dismissButtons{
  margin-top: 12px;
  display: flex;
    align-items: center;
    justify-content: space-between;
    div{
      display: flex;
      gap: 0 5px;
      font-size: 12px;
line-height: 28px;
align-items: center;
text-align: center;
cursor: pointer;
color: #363535;
    }
}